

- $i = 20
while $i-- > 0
    p Current: #{$i}


do
    p Current: #{$i}
while $i++ < 20



each $item in $items
    p What's up, #{$item}?

each $item, $key in $items
    p Hello #{$item}, you're #{$key}!