
each $item in $array
    p 1 The value is #{$item}

each item in $array
    p 2 The value is #{$item}

each $item, $key in $array
    p 3 The value is #{$item}, the key is #{$key}

each item, key in $array
    p 4 The value is #{$item}, the key is #{$key}

