
append content

    h1 Elements

    <p>Inline Element</p>
    <div>
        <strong>Nothing stops you from using plain HTML!</strong><br>
        <p>Just make sure the line starts with &lt; after the indentation
    </div>


    h3 The most basic representation

    input

    h3 Nested
    table
        tr
            td: a(href='#') Cell 1
            td: a(href='#') Cell 2
            td: a(href='#') Cell 3

    h3 Selector classes
    div.col.col-md-15 Some Div

    h4 Without a tag it defaults to "div"
    .col.col-md-16 Some Div

    h3 Selector ID
    div#someContainer1 Some Div

    h4 Without a tag it defaults to "div"
    #someContainer2 Some Div

    h4 Attributes
    input(type='password', placeholder='*******')

    h5 Attributes stack
    div.col(class=col-md-1, class=col-md-2).col-md-3#someId.col-md-4 Some DIV Content
    div#someId(id=someId1, id=someId2)


    h5 Array / Expression values
    div.col(
        class=col-md-1, class="col-md-2", class="col-md-3",
        class=['col-md-4', "col-md-5", (true ? 'col-md-6' : "col-md-7")],
        class=['col-md-7']
    )

    - $varContent = 'Some random variable content'
    textarea.
        some text content
        and here comes #{$varContent}


    h5 Cross assignment
    - $classes = ['col-md-3', 'col-md-4', 'col-md-5']
    div.col(class=col-md-1, class=col-md-2)&classes($classes)&classes('col-md-6', col-md-7)

    h6 Automatic JSON representation
    div(some-stuff=['a', 'b', 'c'])
    div(some-stuff=(object)['a', 'b', 'c'])

